<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ceditect.com{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/css/ceditect.css') }}" />
        <script src="{{ asset('/js/ceditect.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <div id="headertop" class="clearfix">
                        <div class="info">
                            634 579 606 | contacto@ceditect.com
                        </div>
                        <div class="social">
                            <i class="fa fa-lg fa-google-plus"></i>
                            <i class="fa fa-lg fa-facebook-square"></i>
                            <i class="fa fa-lg fa-linkedin-square"></i>
                            <i class="fa fa-lg fa-twitter"></i>
                        </div>
                    </div>
                    <div id="logo">
                        <span class="helper"></span><img src="{{ asset('bundles/ceditect/images/logo.png') }}" alt="Ceditect.com" />
                    </div>
                </header>
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Cédula de habitabilidad</a></li>
                        <li><a href="#">Certificado energético</a></li>
                        <li><a href="#">ITE</a></li>
                        <li><a href="#">Licencias de actividad</a></li>
                        <li><a href="#">Otros servicios</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
                {#{% block body %}{% endblock %}#}
        </div>
    </body>
</html>
