<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ceditect.com{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="js/ceditect.js" />
        <script src="{{ asset('/css/ceditect.css') }}"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <div id="headertop">
                    <div class="pull-left">
                        634 579 606 | contacto@ceditect.com
                    </div>
                    <div class="headerright">
                        <p class="pull-right" id="social">
                            <i class="fa fa-lg fa-google-plus"></i>
                            <i class="fa fa-lg fa-facebook-square"></i>
                            <i class="fa fa-lg fa-linkedin-square"></i>
                            <i class="fa fa-lg fa-twitter"></i>
                        </p>
                    </div>
                </div>
                <div class="logo">
                    <span class="helper"></span><img src="{{ asset('bundles/ceditect/images/logo.png') }}" alt="Ceditect.com" />
                </div>
            </header>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
