<header>
    <div id="headertop" class="clearfix">
        <div class="info">
            634 579 606 | contacto@ceditect.com
        </div>
        <div class="social">
            <i class="fa fa-lg fa-google-plus"></i>
            <i class="fa fa-lg fa-facebook-square"></i>
            <i class="fa fa-lg fa-linkedin-square"></i>
            <i class="fa fa-lg fa-twitter"></i>
        </div>
    </div>
    <div id="logo">
        <span class="helper"></span><img src="{{ asset('bundles/ceditect/images/logo.png') }}" alt="Ceditect.com" />
    </div>
</header>