<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ceditect.com{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/css/ceditect.css') }}" />
        <script src="{{ asset('/js/ceditect.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% include "CeditectBundle::header.html.twig" %}
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Cédula de habitabilidad</a></li>
                        <li><a href="#">Certificado energético</a></li>
                        <li><a href="#">ITE</a></li>
                        <li><a href="#">Licencias de actividad</a></li>
                        <li><a href="#">Otros servicios</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
                <div class="contenido container">
                    <div class="row">
                        {% block body %}{% endblock %}
                    </div>
                </div>
                {% include "CeditectBundle::footer.html.twig" %}
            </div>
        </div>
    </body>
</html>
