header {
  background-color: #29292A;
  text-align: center;
  height: 200px;
  & .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
header img {
  vertical-align: middle;
  height: 150px;
}
#social i {
  margin-left: 15px;
}